#PyMuPDF==1.24.0
PyMuPDF>=1.24.0
pdf2image==1.17.0
pytesseract==0.3.10
pyodbc
fastapi
uvicorn[standard]
langchain
langchain-community
openai
python-dotenv
python-multipart

# FBechelli - Dipendenze Google Cloud Doc AI
google-cloud-documentai             
google-cloud-storage    # For Google Cloud Storage operations
python-dotenv   # For loading environment variables from .env file
google-auth  # For Google Cloud authentication
google-auth-oauthlib  # For Google Cloud authentication
google-api-python-client # For Google Cloud authentication
google-cloud-core # For Google Cloud core functionalities